# Backup
/backup/

# Packages
/packages/elpa/**/
/packages/elpa/hexrgb-readme.txt
/packages/elpa/org-*.signed
/packages/elpa/popup-readme.txt
/packages/elpa/sphinx-doc-readme.txt
/packages/elpa/yaml-mode-readme.txt
/packages/elpa/yasnippet-readme.txt
/packages/elpa/.last-checked*
/packages/manual/**/

# Used when emacs visits the internet.
/url/

# Compiled .el files.
*.elc

# Randomly appearing file with 40 hex digits as '*'.  Possibly KDE.
/session.*

# CEDET
/ac-comphist.dat
/semanticdb/
/srecode-map.el

# org
/.org-id-locations
/bookmarks
