# Backup
/backup/

# Packages
/packages/elpa/**/
/packages/elpa/*.signed
/packages/elpa/*.txt
/packages/elpa/.last-checked*
/packages/manual/**/

# Used when emacs visits the internet.
/url/

# Compiled .el files.
*.elc

# Randomly appearing file with 40 hex digits as '*'.  Possibly KDE.
/session.*

# CEDET
/ac-comphist.dat
/semanticdb/
/srecode-map.el

# org
/.org-id-locations
/bookmarks

# Ido
/.ido.last
